* { /* O trecho abaixo é usado para um reset, ajuste zerado*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}
